@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Henny+Penny&family=IM+Fell+English:ital@0;1&family=Londrina+Shadow&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Unkempt:wght@400;700&display=swap');

html,
body {
    margin: 0;
    min-height: 80vh;

    font-family: "Henny Penny", system-ui;

    background-color: #fbf7f0;
}


/* Modal */
.modal {
    background-color: rgba(101, 101, 101, 0.458);
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.modal-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    background-color: rgb(251, 247, 240);

    box-shadow: 0 4px rgba(109, 97, 89, 0.949);
    /* border: 6px solid rgb(171, 121, 128); */
     border: 6px solid #2C1A0F;
    border-radius: 20px;

    width: 22%;
    height: 65%;

    box-sizing: border-box;
    padding: 15px;
}

.modal-text {
    color: #2C1A0F;
    line-height: 0.3;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-bottom: 10px;
}


.btn{
    background-image: url("./assets/ui/shopBanner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(254, 229, 233);

    font-family: "Henny Penny", system-ui;

    border: none;
    box-shadow: 0 4px #b1a095a8;
    border-radius: 25px;

    font-size: 1rem;
    color: rgb(245, 205, 212);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 65%;
    height: 10%;

    margin-bottom: 12px;
}

.btnP{
    background-image: url("./assets/ui/shopBanner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(254, 229, 233);

    font-family: "Henny Penny", system-ui;

    border: none;
    box-shadow: 0 4px #b1a095a8;
    border-radius: 25px;

    font-size: 1.2rem;
    color: rgb(245, 205, 212);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 65%;
    height: 10%;
}

.btn:hover {
    cursor: pointer;
}

/* Start Modal */
#start-modal{
    background-color: rgba(101, 101, 101, 0.458);
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#start-content{

    background-image: url("./assets/ui/start.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    background-color: rgb(251, 247, 240);

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 50px;
}

#start-text{
    color: #2C1A0F;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 45%;
}

.start-modal-btn{
    width: 15%;
    height: 8%;
    font-size: 1.4rem;
    margin: 10px;
}

/* Pause Modal */
.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;

    height: 100%;
    width: 100%;
}

/* Game End Modal */
#game-state-modal{
    font-size: 2.5rem;
    color: rgb(62, 125, 52);
}

#star-rating{
    font-size: 3rem;
    color: rgb(246, 238, 183);
    line-height: .0;
}

#stars-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color:rgb(245, 205, 212);
    
    box-shadow: 0 4px rgba(109, 97, 89, 0.686);
    border: 1px solid rgb(211, 189, 193);
    border-radius: 40px;

    height: 20%;
    width: 65%;
}

#end-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;

    line-height: 0.25;

    margin-top: 10px;
}

#matches{
    font-size: 1rem;
    color: #2C1A0F;
}

#numOfMatches{
    font-size: 2rem;
    color: rgb(245, 205, 212);
}

#numOfSec {
    font-size: 2rem;
    color: rgb(245, 205, 212);
}

/* Score Board */
.score-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    background-color: rgb(251, 247, 240);

    box-shadow: 0 4px rgba(109, 97, 89, 0.949);
    /* border: 6px solid rgb(171, 121, 128); */
    border: 6px solid #2C1A0F;
    border-radius: 20px;

    width: 35%;
    height: 55%;

    box-sizing: border-box;
    padding: 15px;

    color:#2C1A0F;
}

#main-content-score{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 80%;
}

#score-board{
    width: 100%;
}

.data{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;

    margin: 4px;
}

.score-num, .player, .score-match, .score-sec{
    border: 3px solid rgb(245, 205, 212);
    border-radius: 10px;
    padding: 5px;
    text-align: center;

    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
}

.player{
    width: 65%;
}

.score-num, .score-match, .score-sec {
    width: 6%;
}

.exit-modal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-bottom: 10px;
}

#exit-modal-btn{
    background-image: url("./assets/ui/shopBanner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(254, 229, 233);

    font-family: "Henny Penny", system-ui;

    border: none;
    box-shadow: 0 4px #b1a095a8;
    border-radius: 25px;

    font-size: 1.2rem;
    color: rgb(245, 205, 212);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
}

#exit-modal-btn:hover{
    cursor: pointer;
}

/* Enter Name Modal */
#name-content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    background-color: rgb(251, 247, 240);

    box-shadow: 0 4px rgba(109, 97, 89, 0.949);
    /* border: 6px solid rgb(171, 121, 128); */
    border: 6px solid #2C1A0F;
    border-radius: 20px;

    width: 35%;
    height: 35%;

    box-sizing: border-box;
    padding: 15px;

    color:#2C1A0F;
}

#name{
    background-color: rgb(251, 247, 240);
    border: 3px solid rgb(245, 205, 212);
    border-radius: 15px;
    padding: 5px;
    text-align: center;

    height: 25px;
    width: 65%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    color:#2C1A0F;

    font-family: "Henny Penny", system-ui;
}

#save{
    height: 15%;
    width: 35%;
}

/* Header */
header {
    margin: 15px 70px;
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}

#shop-banner {
    background-image: url("./assets/ui/shopBanner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: pink;

    box-shadow: 0 4px #b1a09567;
    border: 8.5px solid #2C1A0F;
    border-radius: 20px;

    width: 570px;
    height: 65px;

    font-size: 2.3rem;
    color: rgb(245, 205, 212);

    display: flex;
    justify-content: center;
    align-items: center;
}

#game-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    width: 760px;
}

.header-btn{
    background-image: url("./assets/ui/shopBanner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: pink;

    border: none;
    box-shadow: 0 4px #b1a09567;
    border-radius: 20px;

    font-size: 1.5rem;
    color: rgb(245, 205, 212);

    height: 45px;
    width: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#pause{
    width: 50px;
    cursor: pointer;
}

/* Main */
main {
    margin: 15px 70px;
}

#main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    width: 760px;
    height: 570px;
}

.card {
    background: transparent;

    width: calc((100% - 20px) / 3);
    height: calc((100% - 30px) / 4);

    cursor: pointer;

    transform-style: preserve-3d;
    transition: transform .6;
}

.card:hover {
    transform: scale(1.08);
}

.card.flipped {
  transform: rotateY(180deg);  
}

.card.flipped:hover {
  transform: rotateY(180deg) scale(1.08);  
}

.card-front,.card-back {
    position: absolute;
    backface-visibility: hidden;

    width: 100%;
    height: 100%;

    box-shadow: 0 4px #b1a09567;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-front{
    background-image: url("./assets/ui/shopBanner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: rgb(245, 205, 212);
    font-size: 1.5rem;
}

.card-back {
    box-sizing: border-box;
    border: 4px solid #2C1A0F;

    transform: rotateY(180deg);
    overflow: hidden;
}

.card-back img {
    width: 120%;
    height: 120%;
    margin-bottom: 12px;
}

.card-back.matched {
  border: 4px solid rgb(62, 125, 52);
}

/* shop */
#shop-window {
    background-color: rgba(214, 236, 238, 0.396);

    border: 8.5px solid #2C1A0F;
    border-radius: 20px;

    width: 570px;
    height: 570px;
}

.vases-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vase {
    width: 130px;
}

.shelf {
    height: 10px;
    width: 95%;

    margin-top: 0;

    border-radius: 8px;
}